<br />
<div class="story-container">
  <div class="intro-bottom" data-controller="user">
    <h2 class="title is-2 intro-ele">
      <%= @member.member_name %>
      <% if @is_owner %>
        <%= link_to '編輯檔案', edit_member_registration_path(current_member), class: "button is-outlined is-small member-action" %>
      <% else %>
        <%= link_to '#', class: "button is-outlined is-small is-primary member-action", data: { action: 'user#follow', user: @member.id, target: 'user.followButton'} do %>
          <%= (member_signed_in? && current_member.follow?(@member))? '已追蹤' : '追蹤' %>
        <% end %>
      <% end %>
    </h2>
    <%= member_page_avatar(@member) %>
  </div>
  <div class="is-clearfix"></div>
  <%= link_to "檔案", member_page_path(@member.member_name), class: 'tag is-medium is-white', style: 'text-decoration: none;' %>
  <p class='tag is-medium is-white has-text-grey', style='text-decoration: none;'>拍手</p>
  <hr class="dividing-line">

  <h4 class="subtitle has-text-black">最新文章</h4>
  <% @last_stories.each do |story| %>
    <div class="story-box" data-controller="story">
      <%= link_to member_page_path(@member.member_name) do %>
        <figure class="has-text-left button-left intro-ele">
          <%= story_avatar(@member) %>
        </figure>
      <% end %>
      <%= link_to @member.member_name, member_page_path(@member.member_name), class: "has-text-black" %>
      <%= link_to story_page_path(story.member_name, story) do %>
        <p class="is-size-7 has-text-grey image-bottom"><%= story_date(story) %></p>
      <% end %>
      <%= link_to story_page_path(story.member_name, story) do %>
        <figure class="has-text-centered image-bottom">
          <img src="https://fakeimg.pl/710x200/">
        </figure>
      <% end %>
      <h3><%= link_to story.title, story_page_path(story.member_name, story), class: "title is-3 image-bottom intro-ele" %></h3>
      <p class="image-bottom"><%= truncate(story.content, length: 100) %></p>
      <%= link_to '#', data:{ action: 'story#addClap', slug: story.slug } do %>
        <%= fa_icon "sign-language 2x", class: "has-text-grey-light" %>
        <span class="has-text-grey" data-target="story.clapCount"><%= story.clap_counter %></span>
      <% end %>
      <% if @is_owner %>
        <div class="button-right">
          <%= fa_icon "bookmark 2x", class: "button-right-space has-text-grey-light" %>
          <%= fa_icon "angle-down 2x", class: "has-text-grey-light" %>
        </div>
      <% else %>
        <div class="button-right">
          <%= fa_icon "bookmark 2x", class: "button-right-space has-text-grey-light" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

