<br />
<div class="story-container">
  <div class="story-content">
    <h2 class="title is-3"><%= @story.title %></h2>
    <%= link_to member_page_path(@story.member_name) do %>
      <figure class="has-text-left button-left intro-ele">
        <%= story_avatar(@story.member) %>
      </figure>
    <% end %>
    <%= link_to @story.member_name, member_page_path(@story.member_name), class: "is-size-6 has-text-grey" %>
    <%= link_to story_page_path(@story.member_name, @story) do %>
      <p class="is-size-7 has-text-grey">
        <%= story_date(@story) %>
      </p>
    <% end %>
    <%= image_tag @story.cover.variant(resize: '600x500'), style: "display:block; margin:auto; margin-bottom: 2rem; margin-top: 3rem;" if @story.cover.attached? %>
    
    <!-- you can also use simple_format -->
    <p class="is-size-5"><%#= simple_format(@story.content) %></p>
    <p class="is-size-5"><%= @story.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></p>
  </div>
  <%= fa_icon "sign-language 2x", class: "has-text-grey-light" %>
  <div class="button-right">
    <%= fa_icon "twitter 2x", class: "button-right-space has-text-grey-light" %>
    <%= fa_icon "facebook-square 2x", class: "button-right-space has-text-grey-light" %>
    <%= fa_icon "bookmark 2x", class: "button-right-space has-text-grey-light" %>
    <%= fa_icon "ellipsis-h 2x", class: "has-text-grey-light" %>  
  </div>
  <div class="is-clearfix"></div>
  <br />
  <div class="story-action box button-right" style="display:none;">
    <div class="content">
    <% if @is_author %>
      <p class="is-size-7 has-text-grey">隱藏留言</p>
      <p class="is-size-7 has-text-grey">文章回報</p>
      <p class="is-size-7 has-text-grey">封鎖該作者</p>
    <% elsif current_member %>
      <p class="is-size-7 has-text-grey">文章回報</p>
      <p class="is-size-7 has-text-grey">封鎖該作者</p>
    <% else %>
      <p class="is-size-7 has-text-grey">文章回報</p>
    <% end %>
    </div>
  </div>
  <div class="story-hr">
    <%= link_to member_page_path(@story.member_name) do %>
      <figure class="has-text-left button-left intro-ele">
        <%= story_avatar_big(@story.member) %>
      </figure>
    <% end %>
    <p class="is-size-6">作者</p> 
    <%= link_to @story.member_name, member_page_path(@story.member_name), class: "is-size-3 has-text-black" %>
  </div>
  <a class="button is-primary is-outlined is-fullwidth" style="height: 60px;">留個言吧</a>
</div>
<br />
<br />

<script>
  $(document).ready(function(){
    $('.fa-ellipsis-h').on('click', function(){
      $('.story-action').slideToggle();
    })
  })
</script>
