<% if flash[:error].present? %>
  <ul class="message-bar-alert-long">
    <% flash[:error].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<br />

<%= form_for(story) do |f| %>
  <div class="field">
    <%= f.label :title, '文章標題' %>
    <%= f.text_field :title, class: 'input' %>
  </div>
  <div class="field">
    <%= f.label :content, '文章內容' %>
    <%= f.text_area :content, rows: 10, class: 'textarea' %>
  </div>
  <br />
  <div class="field button-right">
    <% if story.may_unpublish? %>
      <%= f.submit '文章下架', name: 'unpublish', class: 'button is-warning' %>
      <%= f.submit '儲存修改', name: 'publish', class: 'button is-primary' %>
    <% else %>
      <%= f.submit '儲存草稿', name: 'save_as_draft', class: 'button is-light' %>
      <%= f.submit '發布文章', name: 'publish', class: 'button is-primary' %>
    <% end %>   
  </div>
<% end %>