<br />

<h2 class="title is-3">文章列表</h2>

<%= link_to '新增文章', new_story_path, class: 'button is-primary is-outlined button-right' %>

<% @stories.each do |story| %>
  <div class='content'>
    <h3 class="title is-4"><%= story.title %></h3>
    <p><%= story.content %></p>
    <p>最後編輯時間：<%= time_ago_in_words(story.updated_at) %>
      <%= link_to '編輯', edit_story_path(story), class: 'button is-text is-small' %>
      <%= link_to '刪除', story_path(story), method: :delete, class: 'button is-text is-small', data: { confirm: '確定刪除？' } %>
    </p>
  </div>
  <hr>
<% end %>