<br />

<div class="story-list-title">
  <h2 class="title is-3">文章列表</h2>
  <%= link_to '新增文章', new_story_path, class: 'button is-primary is-outlined' %>
</div>

<% if params[:status] && params[:status] == 'published' %>
    <%= link_to "草稿(#{@draft_count})", stories_path(status: 'draft'), class: 'tag is-medium is-white link-unchoose', style: 'text-decoration: none;' %>
    <%= link_to "已發布(#{@published_count})", stories_path(status: 'published'),class: 'tag is-medium is-white', style: 'text-decoration: none;' %>
<% else %>
    <%= link_to "草稿(#{@draft_count})", stories_path(status: 'draft'), class: 'tag is-medium is-white', style: 'text-decoration: none;' %>
    <%= link_to "已發布(#{@published_count})", stories_path(status: 'published'),class: 'tag is-medium is-white link-unchoose', style: 'text-decoration: none;' %>
<% end %>
<hr>

<%= render 'story_list', stories: @stories %>