<!DOCTYPE html>
<html>
  <head>
    <title>向 Medium 致敬</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render 'shared/frontend/navbar' %>
    <div class='container'>
      <%= render 'shared/frontend/flash' if notice %>
      <%= yield %>
    </div>
  </body>
</html>
